html,body{
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    width: 100vw;
}

body{
    background-image: url("/images/nbg.jpg");
}

p{
    color: #3A827E;
    text-align: justify;
}

h2{
    padding-left: 15px;
    font-size: xx-large;
    color: mediumblue;
    font-family: "Bradley Hand ITC", cursive;
}

h3{
    color: #5F9EA0;
}

.wrapper{
    width: 75%;
    min-width: 750px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    border-radius: 25px;
    overflow: hidden;
    border: solid 1px white;
}

@media only screen and (max-width: 1026px) {
    #wrapper {
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-height: 550px) {
    #wrapper {
    }
}

section{
    position: relative;
    backdrop-filter: blur(20px);
    float: left;
    font-size: large;
    height: 100%;
    padding: 2% 5% 5%;
    width: 78%;
    box-sizing: border-box;
}

aside{
    position: relative;
    background-color: lightskyblue;
    float: left;
    height: 100%;
    padding: 1%;
    width: 22%;
    box-sizing: border-box;
}

meter{
    width: 100%;
}

.profile-wrapper, .studies-wrapper, .hobbies-wrapper{
    height: 22px;
}

.icon{
    margin-right: 2%;
    float: left;
    max-width: 35px;
    margin-bottom: 8px;
}

a:link {
    color: #03374E;
}
a:visited {
    color: #3A827E;
}
a:hover {
    color: #BEF6CF;
}
a:active {
    color: #1C3F55;
}