html,body{
    background-image: url("/images/background_home.jpg");
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-size: large;
    width: 100%;
    height: 100vh;
}

.flex-container {
    display: flex;
    height: 30px;
    width: 100vw;
    top:0;
    flex-direction: row;
    background: #182B3A;
    position: fixed;
    z-index:10;
    place-content: center;
}
.menu_item{
    padding-left: 20px;
    padding-right: 20px;
    font-family: "schoolbell", Arial, serif;
    transition: all .2s ease-in-out
}
.menu_item:hover {
    background: #72D2A4;
}
@keyframes svg-animation {
    0%   {filter: drop-shadow(100px 5px 5px #182B3A) invert(0%);}
    25%  {filter: drop-shadow(5px 100px 5px #1C3F55) invert(30%);}
    50%  {filter: drop-shadow(5px 5px 100px #3A827E) invert(60%);}
    100% {filter: drop-shadow(10px 10px 10px #72D2A4) invert(90%);}
}

.svg{
    filter: drop-shadow(5px 5px 5px #BEF6CF) invert(90%);
    width: 100%;
    display: block;
    margin: 100px auto;
    position: sticky;
    top: 50px;
    z-index:9;
    animation-name: svg-animation;
    animation-duration: 4s;
}
.home-wrapper{
    width: 100%;
    padding-top: 15px;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: xxx-large;
    font-family: "Lucida Handwritig", "Lucida Handwriting",cursive;
    color: #182B3A;
    box-sizing: border-box;
}


h2{
    margin-left: 10%;
    margin-bottom: 0;
    color: #5F9EA0;
    font-size: xx-large;
    padding-left: 0;
    font-family: "schoolbell" , "Algerian", cursive;
}

.introduction{
    display: flex;
    margin: 0 10%;
}

.project{
    display: flex;
    margin: auto 10%;
}

.introduction p{
    max-width: 70%;
    float: left;
    color: #3A827E;
    text-align: justify;
    margin-right: 5%;
}

.project p{
    max-width: 70%;
    float: left;
    color: #3A827E;
    text-align: justify;
    margin-left: 5%;
}

table{
    float: left;
    right: 0;
    text-align: center;
    color: darkturquoise;
}

.t_title{
    font-weight: bold;
}

td{
    border: 1px solid white;
    margin:0;
}

img[alt="image of programming languages"] {
    width: 25%;
}

.pro{
    background-color: green;
}

.cons{
    background-color: red;
}

a:link {
    color: #72D2A4;
}
a:visited {
    color: #3A827E;
}
a:hover {
    color: #BEF6CF;
}
a:active {
    color: #1C3F55;
}